login


<form action="/login" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>Login</button>
</form>


<div>
	<a href="/register">Sign Up!</a>
</div>

<div>
	<a href="/login">Sign In!</a>
</div>

<div>
	<a href="/logout">Logout</a>
</div>