sign-up form

<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>Submit</button>
</form>